<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3><%= @user.name %>さんの会員詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table>
        <tr>
          <th>氏名</th><td><%= @user.name %></td>
        </tr>
        <tr>
          <th></th><td><%= render 'relationships/follow.list', user: @user %></td>
        </tr>
        <tr>
          <th>プロフィール画像</th><td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "noimage.jpg"%></td>
        </tr>
        <tr>
          <th>自己紹介</th><td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @user.address %></td>
        </tr>
        <tr>
          <th>電話番号</th><td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th><td><%= @user.email %></td>
        </tr>
        <tr>
          <td>
            <% if @user.id == current_user.id %>
              <%= link_to "編集する", edit_user_path, class: "btn btn-success" %>
              <%= link_to '通知一覧', notifications_path, class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>