<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>投稿詳細</h3>
      <%= attachment_image_tag @post_image, :image %>
      <h6>説明</h6>
      <%= @post_image.body %>
      <h6>ユーザーネーム</h6>
      <%= @post_image.user.name %>
      <h6>投稿日時</h6>
      <%= @post_image.created_at.strftime('%Y/%m/%d') %><br>
      <% if @post_image.user == current_user %>
        <%= link_to "削除", post_image_path(@post_image), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>